# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
/.idea/
*.iml
*.iws
*.ipr

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Java
*.class
hs_err_pid*
replay_pid*

# Packaging
*.jar
*.war
*.ear

# Other build
out/
build/

# Git
*.orig

